/.gsd-keyboard.settings-ported
/QtProject.conf
/cava/
/dconf/
/environment.d/
/evolution/
/fish/
/fontconfig/
/git/
/gnome-initial-setup-done
/google-chrome/
/gtk-3.0/
/gtk-4.0/
/htop/
/kitty/current-theme.conf
/kitty/themes/
/kritadisplayrc
/kritarc
/lazygit/
/libreoffice/
/mimeapps.list
/niri/niri_colors.kdl

/niri/noctalia.kdl
/noctalia/colors.json
/noctalia/plugins.json
/noctalia/plugins/
/nwg-look/
/pulse/
/qt5ct/
/qt6ct/
/simple-scan/
/systemd/
/telegram-desktop/
/user-dirs.dirs
/user-dirs.locale
/xsettingsd/
