/.gsd-keyboard.settings-ported
/Code/
/QtProject.conf
/cava/
/dconf/
/droidcam
/enchant/
/environment.d/
/evolution/
/fontconfig/
/git/
/gnome-initial-setup-done
/google-chrome/
/gtk-3.0/
/gtk-4.0/
/htop/
/ibus/
/kitty/current-theme.conf
/kitty/themes/
/kritadisplayrc
/kritarc
/lazygit/
/libreoffice/
/microsoft-edge/
/mimeapps.list
/niri/niri_colors.kdl
/niri/noctalia.kdl
/noctalia/colors.json
/noctalia/plugins.json
/noctalia/plugins/
/noctalia/settings.json
/nwg-look/
/obs-studio/
/pulse/
/qt5ct/
/qt6ct/
/simple-scan/
/systemd/
/telegram-desktop/
/user-dirs.dirs
/user-dirs.locale
/xsettingsd/
/zoom.conf
/zoomus.conf
