  //////////////
 /// LAYOUT ///
//////////////

layout {
    gaps 8
    center-focused-column "never"
    // empty-workspace-above-first
    default-column-display "normal"

    preset-column-widths {
        proportion 0.33
        proportion 0.49
        proportion 0.66
    }

    default-column-width {}

    preset-window-heights {
        proportion 0.25
        proportion 0.49
        proportion 0.74
        proportion 1.00
    }

    focus-ring {
        off
        width 2
        active-gradient from="#004687" to="#00ffd2" angle=45
        inactive-gradient from="#888888" to="#444444" angle=45
        urgent-gradient from="#930000" to="#ffb4ab" angle=45
    }

    border {
        // off
        width 2
        active-gradient from="#004687" to="#00ffd2" angle=135 in="oklch shorter hue"
        inactive-gradient from="#888888" to="#444444" angle=135 in="oklch shorter hue"
        urgent-gradient from="#930000" to="#ffb4ab" angle=135 in="oklch shorter hue"
    }

    shadow {
        on
        softness 16
        spread 0
        offset x=8 y=8
        draw-behind-window false
        color "#000000"
    }

    tab-indicator {
        // off
        // hide-when-single-tab
        place-within-column
        gap 4
        width 4
        length total-proportion=0.5
        position "left"
        gaps-between-tabs 16
        corner-radius 2
        active-gradient from="#004687" to="#00ffd2" angle=0 in="oklch shorter hue"
        inactive-gradient from="#888888" to="#444444" angle=0 in="oklch shorter hue"
        urgent-gradient from="#930000" to="#ffb4ab" angle=0 in="oklch shorter hue"
    }

    insert-hint {
        // off
        gradient from="#00468788" to="#00ffd288" angle=45 in="oklch shorter hue"
    }

    struts {
        left 4
        right 4
        top 4
        bottom 4
    }

    background-color "transparent"
}

  //////////////////////
 /// RECENT WINDOWS ///
//////////////////////

recent-windows {

    // off
    debounce-ms 1000
    open-delay-ms 100

    highlight {
        active-color "#00ffffff"
        urgent-color "#ffb4abff"
        padding 16
        corner-radius 8
    }

    previews {
        max-height 516
        max-scale 0.5
    }

}

  ///////////////
 /// INCLUDE ///
///////////////

include "./niri/input.kdl"

include "./niri/outputs.kdl"

include "./niri/named_workspaces.kdl"

include "./niri/miscellaneous.kdl"

include "./niri/animations.kdl"

include "./niri/gestures.kdl"

include "./niri/window_rules.kdl"

include "./niri/layer_rules.kdl"

include "./niri/debug_options.kdl"

include "./niri/blinds.kdl"

  ////////////////
 /// NOCTALIA ///
////////////////

include "./noctalia.kdl"
