  ////////////////
 /// GESTURES ///
////////////////

gestures {
    dnd-edge-view-scroll {
        trigger-width 32
        delay-ms 100
        max-speed 1500
    }

    dnd-edge-workspace-switch {
        trigger-height 100
        delay-ms 100
        max-speed 3000
    }

    hot-corners {
    	// off
    	top-left
    }
}
